*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html.body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;

    section{
        height: 100vh;
        flex-grow: 2;
        background-color: skyblue;

    }
    section:hover{
        flex-grow: 3;
        transition: all 0.7s  cubic-bezier(0.19, 1, 0.22, 1);
        cursor: pointer;
    }
    section:nth-child(1){
        background-image: url(download.png) ;
        background-size: cover;
    }
    section:nth-child(2){
        background-image: url(./both.jpg) ;
        background-size: cover;
    }
    section:nth-child(3){
        background-image: url(./both2.jpg) ;
        background-size: cover;
    }
    section:nth-child(4){
        background-image: url(./cute.jpg) ;
        background-size: cover;
    }
    section:nth-child(5){
        background-image: url(./both3.jpg) ;
        background-size: cover;
    }
}