@font-face {
    font-family: apple;
    src: url(./sf-pro-display_regular.woff2);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: apple;
}

body {
    height: 100%;
    width: 100%;
}

#nav {
    width: 100%;
    height: 40px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

h4 {
    font-size: 100;
    font-weight: 500;
    align-items: center;
    color: rgb(51, 51, 51);
}

#Apple {
    height: 800px;
    width: 100%;
    background-image: url(https://www.apple.com/in/home/heroes/diwali-2025/images/hero_diwali_2025_endframe__kjxalx8t7ia2_small_2x.jpg);
    background-size: cover;
    background-position: center
}

#Apple h1 {
    color: rgb(10, 10, 10);
    font-size: 50px;
    padding-top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#Apple h3 {
    color: rgb(8, 8, 8);
    font-size: 20px;
    font-weight: 100;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}


#Apple button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero {
    height: 600px;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium.jpg);
    background-size: cover;
    background-position: center
}

#hero h1 {
    color: white;
    font-size: 55px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#hero h3 {
    color: white;
    font-size: 30px;
    font-weight: 100;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#hero button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 10%;
    margin: 20px 20px;
}

#button button {
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    background-color: rgb(0, 113, 227);
    border-radius: 30px;
    border: none;
    color: white;
}

#hero1 h1 {
    color: white;
    font-size: 55px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#hero1 {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_medium.jpg);
    background-position: center
}

#hero1 h1 {
    color: rgb(8, 1, 1);
    font-size: 55px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#hero1 h3 {
    color: rgb(14, 9, 9);
    font-size: 30px;
    font-weight: 100;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#hero1 button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 10%;
    margin: 20px 20px;
}

#button button {
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    background-color: rgb(0, 113, 227);
    border-radius: 30px;
    border: none;
    color: white;
}

#box {
    margin-top: 20px;
    margin-left: 20px;
    height: 600px;
    width: 47%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/iphone-17/promo_iphone_17__bhofuohbsu3m_medium.jpg);
    background-size: cover;
    background-position: center
}

#box h1 {
    color: rgb(8, 1, 1);
    font-size: 40px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#box h3 {
    color: rgb(14, 9, 9);
    font-size: 20px;
    font-weight: 100;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#box button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 10%;
    margin: 20px 20px;
}

#button button {
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    background-color: rgb(0, 113, 227);
    border-radius: 30px;
    border: none;
    color: white;
}

#box1 {
    height: 600px;
    width: 48%;
    position: absolute;
    left: 50%;
    top: 303%;
    background-image: url(https://www.apple.com/in/home/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_medium.jpg);
    background-position: center;
    background-size: cover;
}

#box1 h1 {
    color: rgb(8, 1, 1);
    font-size: 35px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#box1 h3 {
    color: rgb(14, 9, 9);
    font-size: 30px;
    font-weight: 100;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#box1 button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 10%;
    margin: 20px 20px;
}

#button button {
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    background-color: rgb(0, 113, 227);
    border-radius: 30px;
    border: none;
    color: white;
}


#box3 {
    margin-top: 20px;
    margin-left: 20px;
    height: 600px;
    width: 47%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/education/promo_edu__efkxh2h1luoi_medium.jpg);
    background-size: cover;
    background-position: center
}

#box3 h1 {
    color: rgb(228, 226, 226);
    font-size: 60px;
    padding-top: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#box3 h3 {
    color: rgb(231, 229, 229);
    font-size: 20px;
    font-weight: 100;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

#box4 {
    height: 600px;
    width: 48%;
    position: absolute;
    left: 50%;
    top: 405%;
    background-image: url(https://www.apple.com/in/home/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_medium.jpg);
    background-position: center;
    background-size: cover;
}

#box4 h1 {
    color: rgb(8, 1, 1);
    font-size: 30px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#box4 h3 {
    color: rgb(14, 9, 9);
    font-size: 20px;
    font-weight: 100;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



#box5 {
    margin-top: 20px;
    margin-left: 20px;
    height: 600px;
    width: 47%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/macbook-air/promo_macbook_air__fqowrtnxewqe_medium.jpg);
    background-size: cover;
    background-position: center
}

#box5 h1 {
    color: rgb(8, 1, 1);
    font-size: 30px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#box5 h3 {
    color: rgb(14, 9, 9);
    font-size: 20px;
    font-weight: 100;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



#box6 {
    height: 600px;
    width: 48%;
    position: absolute;
    left: 50%;
    top: 507%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_medium.jpg);
    background-position: center;
    background-size: cover;
}

#box6 h1 {
    color: rgb(8, 1, 1);
    font-size: 30px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#box6 h3 {
    color: rgb(14, 9, 9);
    font-size: 20px;
    font-weight: 100;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer {
    text-align: center;
    padding: 10px 10px;
    font-size: smaller;
    color: rgb(108, 108, 108);
}